.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    object-fit: contain;
    width: 100px;
    margin: 20px auto;
}


.login__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container > form > h5 {
    margin-bottom: 10px;
}

.login__container > form > input {
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    height: 30px;
}

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}


.login__signInButton {
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    margin-top: 10px;
    width: 100%;
    height: 30px;
}


.login__registerButton {
    border: 1px solid darkgray;
    border-radius: 2px;
    color: #111;
    margin-top: 10px;
    width: 100%;
    height: 30px;
}
